<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/views/jquery.mobile-1.3.1.min.css" />
  <script src="/views/jquery-2.0.2.min.js"></script>
  <script src="/views/handlebars-1.0.0.js"></script>
</head>
<body>
<div data-role="page">
  <!-- Header -->
  <div id="header" data-theme="c" data-role="header"></div>
  <!-- Content -->
  <div id="content" data-role="content"></div>
  <!-- Footer -->
  <div id="footer" data-theme="a" data-role="footer"></div>
</div>

<!-- Header templates -->
<script src="/views/header.js"></script>
<!-- Footer templates -->
<script src="/views/footer-image.js"></script>
<script src="/views/footer-link.js"></script>
<script src="/views/footer-title.js"></script>
<script src="/views/footer-text.js"></script>
<!-- Content templates -->
<script src="/views/image.js"></script>
<script src="/views/navbar.js"></script>
<script src="/views/imagelist.js"></script>
<script src="/views/text.js"></script>
<script src="/views/link.js"></script>
<script src="/views/title.js"></script>
<script>
  var contentData = '{{{contentData}}}';
  contentData = contentData.replace(/&quot;/gmi, '"').replace(/[\r\n]/gm, '');
	console.log(contentData);
</script>
<script>
  $(document).ready(function () {
    var imageTpl = Handlebars.templates['image.hbs'];
    var titleTpl = Handlebars.templates['title.hbs'];
    var textTpl = Handlebars.templates['text.hbs'];
    var navbarTpl = Handlebars.templates['navbar.hbs'];
    var linkTpl = Handlebars.templates['link.hbs'];
    var headerTpl = Handlebars.templates['header.hbs'];
    var footerImageTpl = Handlebars.templates['footer-image.hbs'];
    var footerTitleTpl = Handlebars.templates['footer-title.hbs'];
    var footerTextTpl = Handlebars.templates['footer-text.hbs'];
    var footerLinkTpl = Handlebars.templates['footer-link.hbs'];

    /// init Data
    //var contentData = '';
    var styleData = '';
    var contentObj = JSON.parse(contentData);
    //var styleObj = JSON.parse(styleData);
    /// header
    var headerHtml = headerTpl(contentObj.header);
    /// content
    var contentHtml = '';
    while(contentObj.content.length > 0) {
      var contentBlock = contentObj.content.shift();
      switch(contentBlock.t) {
        case 'image':
          contentHtml += imageTpl(contentBlock);
          break;
        case 'title':
          contentHtml += titleTpl(contentBlock);
          break;
        case 'text':
          contentHtml += textTpl(contentBlock);
          break;
        case 'link':
          contentHtml += linkTpl(contentBlock);
          break;
        case 'navbar':
          contentHtml += navbarTpl(contentBlock);
          break;
      }
    }
    /// footer
    var footerHtml = '';
    while(contentObj.footer.length > 0) {
      var footerBlock = contentObj.footer.shift();
      switch(footerBlock.t) {
        case 'image':
          footerHtml += footerImageTpl(footerBlock);
          break;
        case 'title':
          footerHtml += footerTitleTpl(footerBlock);
          break;
        case 'text':
          footerHtml += footerTextTpl(footerBlock);
          break;
        case 'link':
          footerHtml += footerLinkTpl(footerBlock);
          break;
      }
    }

    /// render
    $('base').attr('href', 'http://' + contentObj.host);
    $('#header').html(headerHtml);
    $('#content').html(contentHtml);
    $('#footer').html(footerHtml);
  });
</script>
<script src="/views/jquery.mobile-1.3.1.min.js"></script>
</body>
</html>