<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="jquery.mobile-1.3.1.min.css" />
  <script src="jquery-2.0.2.min.js"></script>
  <script src="handlebars-1.0.0.js"></script>
</head>
<body>
<div data-role="page">
  <!-- Header -->
  <div id="header" data-theme="c" data-role="header"></div>
  <!-- Content -->
  <div id="content" data-role="content"></div>
  <!-- Footer -->
  <div id="footer" data-theme="a" data-role="footer"></div>
</div>

<script src="minified.js"></script>
<script src="jquery.mobile-1.3.1.min.js"></script>
</body>
</html>