
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>theme-linked</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telephone=no"/>
  <link href="css/theme-linked.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="linked-title">
  <h1>站长网站</h1>
  <p>网络新闻</p>
</div>
<div class="linked-nav-outer">
  <ul class="linked-nav">
    <li>手机</li>
    <li>国际</li>
    <li>财经</li>
    <li>体育</li>
    <li>科技</li>
  </ul>
  <p></p>
</div>
<div class="linked-slider">
  <img src="images/slider.jpg">
</div>
<ul>
  <li class="duan_li">
    <div class="duan_con">
      <span class="duan_title">MWC缺乏看点:廉价手机挑大梁</span>
      <p class="duan_info">FirefoxOS的发布让廉价手机成为本届亮点。</p>
      <span class="duan_date">2013-1-30</span>
    </div>
  </li>
  <li class="duan_li duan_li2">
    <div class="duan_con">
      <span class="duan_title">三星计划今年平板电脑销售翻番</span>
      <p class="duan_info">虽然这一目标看似激进，但不能帮助三星超越苹果。</p>
      <span class="duan_date">2013-1-30</span>
    </div>
  </li>
  <li class="duan_li duan_li3">
    <div class="duan_con">
      <span class="duan_title">2016移动设备出货量或达26亿台</span>
      <p class="duan_info">平板电脑将是出货量增长速度最快的移动设备。</p>
      <span class="duan_date">2013-1-30</span>
    </div>
  </li>
</ul>
</body>
</html>
<script type="text/javascript" src="js/lib/zepto.min.js"></script>
<script type="text/javascript" src="js/theme.js"></script>