<div style="position: relative;text-align: center; padding: 0; margin: 10px;">
	{{#if url}}
  <a href='{{url}}' target='{{target}}'>
	{{/if}}
  <img src="{{src}}" alt="image" style="max-width: 80%;">
	{{#if url}}
  </a>
	{{/if}}
</div>